<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="base" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="WARN"/>
        <param name="File" value="logs/server_base.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="100"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %-20.20t %-5p %20.20c - %m%n"/>
        </layout>
    </appender>
	
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Encoding" value="Cp866"/>
		<param name="Threshold" value="WARN"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %-20.20t %-5p %20.20c - %m%n"/>
        </layout>
    </appender>

    <appender name="gui" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/gui.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="100"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %-20.20t %-5p %20.20c - %m%n"/>
        </layout>
    </appender>

    <appender name="server" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/server_work.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="100"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %-20.20t %-5p %20.20c - %m%n"/>
        </layout>
    </appender>

    <logger name="im.server">
        <level value="INFO"/>
        <appender-ref ref="server"/>
    </logger>

    <logger name="im.server.gui" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="gui"/>
    </logger>

    <root>
        <priority value="WARN"/>
        <appender-ref ref="base"/>
		<appender-ref ref="console"/>
    </root>

</log4j:configuration>